name: build ios

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    name: Build and analyse default scheme using xcodebuild command
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Cocoapods
        uses: maxim-lobanov/setup-cocoapods@v1
        with:
          version: 1.11.2
      - run: brew install tree
      - name: Download Pre Compiled Dependencies
        run: | 
            # cd shell && ./init-any.sh ios
            # cd ios && ./compile-any.sh build all 
            cd shell && ./download-pre.sh ios      
      - run: pod lib lint --allow-warnings --platforms=ios